.footer-title {
    color: #9e264c;
}

.footer-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.footer-link:hover, .footer-link:focus {
    
    color: #9e264c;
}

.footer-form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #1c1c1c;
}